<!DOCTYPE html>
<html>
<head>
<title>くったー 食べたもの記録＆献立おすすめ</title>
<link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css" />
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">くったー</a>
      <ul class="nav">
        <li class="active"><a href="/meals">たべたものログ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class_"container">
  <%= yield %>
</div>
<footer>
  <div class="container">
    Kutter 2013
  </div>
</footer>
</body>
</html>
